@import config

*
  transition: .2s

.header
  padding: 10px 0 15px
  box-shadow: 1px 1px 10px 1px #b9b9b939
  .container
    display: flex
    justify-content: space-between
    align-items: center
  &-brand
    position: relative
    &__author
      position: absolute
      top: 62%
      left: 50%
      transform: translateX(-50%) 
      a
        color: #000
        &:hover
          text-decoration: underline 
  &-helpbtn
    padding: 9px 20px
    background: $accent
    border-radius: 6px
    &:hover
      background: lighten($accent, 15%)    

.main
  margin-top: 50px
  &-headers
    text-align: center
    h1
      font-weight: 600
      font-size: 46px
    h2
      font-weight: 400
      font-size: 18px      
  &-car
    margin: 0 auto
    position: relative
    background: url(../images/dist/ferrari.jpg) no-repeat center / contain
    height: 200px
    width: 720px
    margin-top: 50px
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0,0,0,.15))
    &__wheel
      position: absolute    
      animation: wheel 1.1s
      &:first-of-type    
        left: 17.1%
        height: 42.5%
        bottom: 4%
      &:last-of-type
        height: 44%
        bottom: 5%
        right: 16.25% 

.main-check
  display: flex
  justify-content: center
  margin-top: 30px
  &__input
    width: 40%
    border-radius: 6px 0 0 6px
    position: relative
    span
      display: flex
      justify-content: center
      align-items: center
      width: 21px
      height: 21px
      position: absolute
      border-radius: 50%
      border: 1px solid $textcolor
      padding: 7px 8px 8px 8px
      right: 15px
      top: 50%
      transform: translateY(-50%)
      cursor: pointer
      &:hover
        border: 1px solid $accent
        color: #fff
        background: $accent
    input
      border-radius: 6px 0 0 6px
      width: 100%
      padding: 12px 20px
      font-size: 18px
  &__btn
    padding: 12px 25px
    font-size: 18px
    background: $accent
    border-radius: 0 6px 6px 0
    &:hover
      background: lighten($accent, 15%)                   

.check
  margin-top: 40px
  padding: 50px 0
  background: #e0e0e0
  h2
    font-weight: 600
    text-align: center
    margin-bottom: -10px

.footer
  padding: 40px 0 60px
  color: #777
  a
    color: $accent
  &-menu
    display: flex
    &__item
      margin-right: 25px
  &__info
    line-height: 22px
    margin-top: 20px
    a
      &:hover
        text-decoration: underline
          

@keyframes wheel
  0%
    transform: rotate(0) 
  100%
    transform: rotate(-360deg) 

.slider
  margin-top: 220px
  &__item
    height: 350px
    &:first-child
      
      background: url(../images/dist/slider/1.jpg) no-repeat center / cover   
  .slick-slide 
    cursor: pointer
  .slick-current

  .slick-dots
    top: 10px
    height: 30px
    .slick-active
      background: #fff
    li
      width: 12px
      height: 12px
      border: 2px solid #fff
      border-radius: 50%  

@import media




    