@import config

a, button
  transition: .2s 

.main
  margin-top: 65px
  &-headers
    text-align: center
    h1
      font-weight: 600
      font-size: 36px
      line-height: 40px
    h2
      font-weight: 400
      font-size: 16px

.main-check
  display: flex
  justify-content: center
  margin-top: 30px
  &__input
    width: 53%
    border-radius: 6px 0 0 6px
    position: relative
    span
      display: flex
      justify-content: center
      align-items: center
      width: 21px
      height: 21px
      position: absolute
      border-radius: 50%
      border: 1px solid $textcolor
      padding: 7px 8px 8px 8px
      right: 15px
      top: 50%
      transform: translateY(-50%)
      cursor: pointer
      &:hover
        border: 1px solid $accent
        color: #fff
        background: $accent
    input
      border-radius: 6px 0 0 6px
      width: 100%
      padding: 10px 12px
  &__btn
    padding: 10px 12px
    background: $accent
    border-radius: 0 6px 6px 0
    line-height: 26px
    &:hover
      background: lighten($accent, 15%)                   

.checklist
  margin-top: 80px
  background: $bg
  padding: 40px 0 56px
  color: #fff
  position: relative
  overflow: hidden
  h2
    text-align: center
    font-weight: 600
    font-size: 36px
    margin-bottom: 42px
  &-nav
    display: flex
    justify-content: center
    position: relative
    z-index: 1
    &__item
      border: 1px solid #fff
      padding: 9px 16px
      border-radius: 50px
      line-height: 26px
      cursor: pointer
      &:not(:last-of-type)
        margin-right: 26px
      &:hover
        background: #fff
        color: #000
    &__arrow
      border-radius: 50%
      width: 45px
      height: 45px
      display: flex
      justify-content: center
      align-items: center
      background: #FFD89E
      cursor: pointer
      &:hover
        background: #fff
  &-photo
    display: flex
    margin-top: -22px
    &__item
      &.hidden
        opacity: 0
        transition: opacity .25s
        position: absolute
      &.active
        opacity: 1
        position: static

.adv
  padding: 80px 0
  .container
    display: flex
    justify-content: center
  &__item
    text-align: center
    h3
      margin: 20px 0 7px
      font-weight: 600
      font-size: 28px
    p
      width: 310px
    &:not(:last-of-type)
      margin-right: 55px

.footer
  padding: 80px 0 87px
  h2
    text-align: center
    font-size: 28px
    margin-bottom: -10px         

.slick-slide 
  cursor: pointer
.slick-current

.slick-dots
  top: 10px
  height: 30px
  .slick-active
    background: #fff
  li
    width: 12px
    height: 12px
    border: 2px solid #fff
    border-radius: 50%  

@import media




    